AMZN_email=your_amazon_email@example.com
AMZN_pass=your_amazon_password
CHROME_USER_DATA_DIR=C:/ChromeAutomationProfile

SENDER_EMAIL=sender@example.com
TO_EMAIL=recipient1@example.com,recipient2@example.com
CC_EMAIL=cc@example.com
